<!--begin::Container-->
<div id="kt_content_container" class="container-xxl">    
    <!--begin::Row-->
    <div class="row gy-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Mixed/_Widget-2.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Lists/_Widget-5.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Mixed/_Widget-7.cshtml" />
            <partial name="../Partials/Widgets-2/Mixed/_Widget-10.cshtml" />

        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Row-->
    <div class="row gy-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Lists/_Widget-3.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-8">

            <partial name="../Partials/Widgets-2/Tables/_Widget-9.cshtml" />

        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Row-->
    <div class="row gy-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Lists/_Widget-2.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Lists/_Widget-6.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Lists/_Widget-4.cshtml" />

        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xl-4">

            <partial name="../Partials/Widgets-2/Mixed/_Widget-5.cshtml" />

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-8">

            <partial name="../Partials/Widgets-2/Tables/_Widget-5.cshtml" />

        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <partial name="../Partials/Widgets-2/Calendar/_Widget-1.cshtml" />


</div>
<!--end::Container-->
