<!--begin::Engage drawers-->
<partial name="Demos/_Main.cshtml" />
<partial name="Help/_Main.cshtml" />
<!--end::Engage drawers-->
<!--begin::Engage toolbar-->
<div class="engage-toolbar d-flex position-fixed px-5 fw-bolder zindex-2 top-50 end-0 transform-90 mt-20 gap-2">

    <partial name="Demos/_Toggle.cshtml" />
    <partial name="Help/_Toggle.cshtml" />
    <!--layout-partial:partials/engage/purchase/_main.html-->

</div>
<!--end::Engage toolbar-->
